Repository D-Programming-Language/dmd, changes with the owners that CODEOWNERS names for each.
All owners: @MartinNowak, @RazvanN7, @UplinkCoder, @Geod24, @dnadlinger, @WalterBright, @CyberShadow, @ibuclaw, @andralex, @jacob-carlborg, @rainers, @wilzbach, @JackStouffer, @redstar, @TurkeyMan, @schveiguy, @tsbockman, @jmdavis, @Abscissa, @Darredevil, @PetarKirov, @joakim-noah, @etcimon, @Calrama, @Burgos, @nrTQgc, @dkgroot, @ibara, @jpf91, @deadalnix, @DmitryOlshansky, @llucax, @atilaneves

fix problem with .nounderscore on Ubuntu
  compiler/src/dmd/cparse.d
Owners: @ibuclaw, @WalterBright

machobj: Rename align_ to p2align where its value is assumed as power of 2
  compiler/src/dmd/backend/machobj.d
Owners: none

Disallow qualified types in base class list
  compiler/src/dmd/parse.d
  compiler/test/fail_compilation/qualbaseclass1.d
  compiler/test/fail_compilation/qualbaseclass2.d
Owners: none

Add changelog entries
  changelog/dmd.basic-vs-primary-type.dd
  changelog/dmd.const-base.dd
Owners: none

isCopyConstructable should call isCopyable
  compiler/src/dmd/expressionsem.d
  compiler/src/dmd/traits.d
  compiler/src/dmd/typesem.d
  compiler/test/compilable/test23097.d
  compiler/test/fail_compilation/fail22202.d
Owners: none

GHA: Bump macOS images to 13 and 14
  .github/workflows/main.yml
Owners: none

[troubleshoot invoked make]
  ci/run.sh
Owners: none

[fix used make on macos-14]
  ci/cirrusci.sh
Owners: none

[print compiler test runtimes]
  ci/run.sh
Owners: none

Enable -preview=rvaluerefparam
  changelog/dmd.enable-rvaluerefparam.dd
  compiler/src/dmd/cli.d
  compiler/src/dmd/frontend.h
  compiler/src/dmd/globals.d
Owners: @ibuclaw, @dnadlinger

Fix implementation; `out` should not accept rvalue!
  compiler/src/dmd/typesem.d
Owners: none

traits for opPostMove needed a different approach.
  druntime/src/core/internal/moving.d
  druntime/src/core/internal/traits.d
Owners: @MartinNowak, @schveiguy

Update tests.
  compiler/test/compilable/fix21647.d
  compiler/test/compilable/issue20704.d
  compiler/test/compilable/issue20705.d
  compiler/test/compilable/previewhelp.d
  compiler/test/compilable/reverthelp.d
  compiler/test/compilable/rvalueref.d
  compiler/test/fail_compilation/b20011.d
  compiler/test/fail_compilation/fail20183.d
  compiler/test/fail_compilation/fail7603a.d
  compiler/test/fail_compilation/fail7603b.d
  compiler/test/fail_compilation/fail7603c.d
  compiler/test/fail_compilation/fail9773.d
  compiler/test/fail_compilation/fail9891.d
  compiler/test/fail_compilation/issue20704.d
  compiler/test/fail_compilation/test21807.d
  compiler/test/fail_compilation/tolvalue.d
  compiler/test/runnable/overload.d
  compiler/test/runnable/structlit.d
  compiler/test/runnable/template9.d
  compiler/test/runnable/testassign.d
  compiler/test/runnable/xtest46.d
  compiler/test/runnable/xtest46_gc.d
  druntime/test/stdcpp/src/string_test.d
Owners: none

Set Previews.rvalueRefParam by default
  compiler/src/dmd/dscope.d
Owners: @Geod24

Fix compilable/rvalue2.d
  compiler/test/compilable/rvalue2.d
Owners: none

Temporarily make test18216.d pass, fix runnable/rvalue1.d
  compiler/test/compilable/test18216.d
  compiler/test/runnable/rvalue1.d
Owners: none

add Placement New
  changelog/dmd.placementNew.dd
  compiler/src/dmd/astbase.d
  compiler/src/dmd/dinterpret.d
  compiler/src/dmd/dsymbolsem.d
  compiler/src/dmd/dtemplate.d
  compiler/src/dmd/e2ir.d
  compiler/src/dmd/escape.d
  compiler/src/dmd/expression.d
  compiler/src/dmd/expression.h
  compiler/src/dmd/expressionsem.d
  compiler/src/dmd/frontend.h
  compiler/src/dmd/hdrgen.d
  compiler/src/dmd/inline.d
  compiler/src/dmd/inlinecost.d
  compiler/src/dmd/nogc.d
  compiler/src/dmd/ob.d
  compiler/src/dmd/optimize.d
  compiler/src/dmd/parse.d
  compiler/src/dmd/visitor/postorder.d
  compiler/src/dmd/visitor/transitive.d
  compiler/src/tests/cxxfrontend.cc
  compiler/test/compilable/placementnew.d
  compiler/test/fail_compilation/placenew.d
  compiler/test/runnable/placenew.d
Owners: @RazvanN7, @ibuclaw, @dnadlinger, @UplinkCoder, @WalterBright

Deprecate typesafe variadic class arguments
  changelog/dmd.deprecation-typesafe-variadic-class.dd
  compiler/src/dmd/typesem.d
  compiler/test/fail_compilation/test22023.d
  compiler/test/fail_compilation/test22818.d
  compiler/test/runnable/testv.d
Owners: none

ImportC: Add __module declarations
  changelog/dmd.import-c-modules.dd
  compiler/src/dmd/cparse.d
  compiler/src/dmd/dmodule.d
  compiler/src/dmd/frontend.h
  compiler/src/dmd/tokens.d
  compiler/src/dmd/tokens.h
  compiler/test/compilable/cmodules.d
  compiler/test/compilable/imports/cpkg/cmodule.c
  compiler/test/fail_compilation/cmodule_malformed.c
  compiler/test/unit/lexer/location_offset.d
Owners: @ibuclaw, @WalterBright, @dnadlinger

druntime: redirect dual-ABI functions on glibc to IEEE128 version ...
  druntime/src/core/stdc/math.d
  druntime/src/core/stdc/stdio.d
  druntime/src/core/stdc/stdlib.d
Owners: @schveiguy, @ibuclaw

Remove knowledge of metadata storage from rt/lifetime and core/internal/array. All metadata management should be done by GC.
  druntime/src/core/internal/array/utils.d
  druntime/src/core/internal/gc/blockmeta.d
  druntime/src/core/internal/gc/impl/conservative/gc.d
  druntime/src/core/lifetime.d
  druntime/src/rt/lifetime.d
Owners: @MartinNowak, @schveiguy, @rainers, @DmitryOlshansky, @llucax, @Burgos

add op= code generation
  compiler/src/dmd/backend/arm/cod4.d
Owners: none

CODEOWNERS:

# See also:
# - https://github.com/blog/2392-introducing-code-owners
# - https://help.github.com/articles/about-codeowners/

# Each line is a file pattern followed by one or more owners (sorted alphabetically).
# Please feel free to add yourself to a module or create a new mapping.
# Ideally each module should have two or more owners.

# Code owners are automatically requested for review
# when someone opens a pull request that modifies code that they own.
# Later matches take precedence.

compiler/src/dmd/access.d @MartinNowak
compiler/src/dmd/astbase* @RazvanN7
compiler/src/dmd/astcodegen.d @RazvanN7
compiler/src/dmd/asttypename.d @UplinkCoder
compiler/src/dmd/attrib.d @Geod24
compiler/src/dmd/builtin.d @dnadlinger @WalterBright
compiler/src/dmd/cond.d @Geod24
compiler/src/dmd/console.d @CyberShadow
compiler/src/dmd/cppmangle.d @ibuclaw @Geod24
compiler/src/dmd/cparse.d @ibuclaw @WalterBright
compiler/src/dmd/ctfeexpr.d @UplinkCoder
compiler/src/dmd/doc.d @andralex @jacob-carlborg
compiler/src/dmd/dscope.d @Geod24
compiler/src/dmd/hdrgen.d @UplinkCoder @WalterBright
compiler/src/dmd/iasm.d @ibuclaw @WalterBright
compiler/src/dmd/iasmdmd.d @WalterBright
compiler/src/dmd/iasmgcc.d @ibuclaw
compiler/src/dmd/mars.d @MartinNowak @Geod24 @rainers @UplinkCoder @WalterBright
compiler/src/dmd/objc* @jacob-carlborg
compiler/src/dmd/permissivevisitor.d @RazvanN7
compiler/src/dmd/target.d @ibuclaw @MartinNowak
compiler/src/dmd/transitivevisitor.d @RazvanN7
compiler/src/dmd/vcbuild @rainers

# D Runtime
druntime/* @andralex @wilzbach @JackStouffer

druntime/src/checkedint.d @redstar @andralex @JackStouffer

druntime/src/core/atomic.d @WalterBright @ibuclaw @TurkeyMan
druntime/src/core/attribute.d @jacob-carlborg
druntime/src/core/bitop.d @schveiguy @tsbockman @Geod24
druntime/src/core/cpuid.d @WalterBright @ibuclaw @JackStouffer
druntime/src/core/demangle.d @WalterBright @MartinNowak @rainers @ibuclaw
druntime/src/core/exception.d @MartinNowak @WalterBright @jmdavis @CyberShadow
druntime/src/core/internal @MartinNowak @schveiguy
druntime/src/core/int128.d @WalterBright
druntime/src/core/math.d @ibuclaw @redstar
druntime/src/core/runtime.d @MartinNowak @Abscissa
druntime/src/core/simd.d @WalterBright @MartinNowak
druntime/src/core/stdc/* @schveiguy @ibuclaw
druntime/src/core/stdcpp/* @WalterBright @Darredevil @TurkeyMan
druntime/src/core/sync/* @MartinNowak @Geod24 @WalterBright @PetarKirov
druntime/src/core/sys/bionic/* @joakim-noah
druntime/src/core/sys/darwin/* @jacob-carlborg @dnadlinger @etcimon @MartinNowak
druntime/src/core/sys/freebsd/* @redstar @MartinNowak @Calrama @jmdavis
druntime/src/core/sys/linux/* @Burgos @redstar @MartinNowak
druntime/src/core/sys/netbsd/* @nrTQgc @joakim-noah
druntime/src/core/sys/dragonflybsd/* @dkgroot
druntime/src/core/sys/openbsd/* @redstar @ibara
druntime/src/core/sys/posix/* @CyberShadow @MartinNowak @joakim-noah @redstar
druntime/src/core/sys/solaris/* @redstar
druntime/src/core/sys/windows/* @CyberShadow
druntime/src/core/thread.d @MartinNowak @Burgos @jpf91 @PetarKirov
druntime/src/core/time.d @jmdavis @schveiguy @CyberShadow

druntime/src/etc* @deadalnix @MartinNowak
druntime/src/core/internal/gc/* @rainers @DmitryOlshansky @MartinNowak @llucax

druntime/src/object.d @andralex @MartinNowak

druntime/src/rt/deh_win32.d @WalterBright
druntime/src/rt/dwarfeh.d @WalterBright
druntime/src/rt/lifetime.d @rainers @schveiguy @Burgos
druntime/src/rt/minfo.d @schveiguy
druntime/src/rt/msvc* @rainers
druntime/src/rt/sections_android.d @joakim-noah
druntime/src/rt/sections_win* @rainers @CyberShadow
druntime/src/rt/sections_osx* @jacob-carlborg @dnadlinger
druntime/src/rt/sections_elf_shared* @Burgos
druntime/src/rt/typeinfo/* @Geod24 @WalterBright @redstar
druntime/src/rt/util/* @MartinNowak @WalterBright @dnadlinger

druntime/src/test_runner.d @atilaneves @wilzbach @MartinNowak @andralex

# GitHub's implementation of the CODEOWNERS format is buggy, it doesn't allow src/dmd/*.h
*.h @ibuclaw @dnadlinger

# CI & automation
posix.mak @MartinNowak @wilzbach
src/posix.mak @MartinNowak @wilzbach
circle.sh @MartinNowak @wilzbach
